#fxmonitor-notification .popup-notification-body {
  font-size: 110%;
}

#fxmonitor-notification popupnotificationcontent {
  margin-top: 0;
}

#fxmonitor-notification .popup-notification-body > hbox:first-child {
  display: none;
}

#fxmonitor-notification .popup-notification-icon,
.fxmonitor-icon {
  list-style-image: url("chrome://browser/skin/warning.svg");
  fill: rgba(12, 12, 13, 0.6); /* Gray 90 a60 */
  stroke: transparent;
  -moz-context-properties: fill, stroke;
}

#fxmonitor-notification-anchor,
.fxmonitor-icon {
  animation-timing-function: linear;
  animation-duration: 0.66s;
}

#fxmonitor-notification-anchor:not([fxmonitoranimationdone]) {
  animation-name: fxmonitor-anchor-animation;
}

#fxmonitor-notification-anchor:not([fxmonitoranimationdone]):-moz-locale-dir(rtl) {
  animation-name: fxmonitor-anchor-animation-rtl;
}

#fxmonitor-notification-anchor:not([fxmonitoranimationdone]) .fxmonitor-icon {
  animation-name: fxmonitor-icon-animation;
}

#notification-popup[popupid=fxmonitor]:not([fxmonitoranimationdone]) {
  transition-delay: 0.33s;
}

/* Animate the appearance of the anchor icon: push the other icons to the right. */
@keyframes fxmonitor-anchor-animation {
  from {
    margin-right: -20px;
  }
  50% {
    margin-right: 0;
  }
  to {
  }
}

/* For RTL locales, push the other icons to the left. */
@keyframes fxmonitor-anchor-animation-rtl {
  from {
    margin-left: -20px;
  }
  50% {
    margin-left: 0;
  }
  to {
  }
}

/* After the appearance of the anchor box, expand the icon into view */
@keyframes fxmonitor-icon-animation {
  from {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  75% {
    transform: scale(1.2);
  }
  to {
  }
}

#fxmonitor-notification .popupText {
  max-width: 300px;
}

#fxmonitor-notification .headerText {
  font-weight: 600;
  white-space: pre;
}
